<div id="<%= dom_id aircraft %>">
  <p>
    <strong>Aircraft Registration:</strong>
    <%= aircraft.aircraft %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= aircraft.email_address %>
  </p>
  <p>
    <strong>Owner:</strong>
    <!-- %= aircraft.owner.name% -->
  </p>
</div>
