<div id="<%= dom_id registration %>">
  <p>
    <strong>Registration:</strong>
    <%= registration.registration %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= registration.email_address %>
  </p>

</div>
