<h1>Editing registration</h1>

<%= render "form", registration: @registration %>

<br>

<div>
  <%= link_to "Show this registration", @registration %> |
  <%= link_to "Back to registrations", registrations_path %>
</div>
