<h1>Agora</h1>
<div id="alerts">
  <% @system_alerts.each do |alert| %>
    Status: <%= alert.alert_content %>
  <% end %>
</div>
<%= link_to 'Registrations', registrations_path %>
<%= link_to 'Emails', emails_path %>
<%= link_to 'Stations', stations_path %>
