<h1>Agora</h1>
<div id="alerts">
  <% @station_alerts.each do |alert| %>
    <% alert.alert_content.nil? ? No Alerts : alert.alert_content %>
  <% end %>
</div>
<%= link_to 'Registrations', registrations_path %>
<%= link_to 'Emails', emails_path %>
<%= link_to 'Stations', stations_path %>
