<div id="<%= dom_id administrator %>">
  <p>
    <strong>Trusted:</strong>
    <%= administrator.trusted %>
  </p>

  <p>
    <strong>User:</strong>
    <%= administrator.user.email %>
  </p>

</div>
