<div id="<%= dom_id email %>">
  <p>
    <strong>Station:</strong>
    <%= email.station.iata_station_code %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= email.email_address %>
  </p>

</div>
